@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @apply bg-bg-100 dark:-bg--dark-bg-100 ;
    padding: 25px 20px;
    max-width: 1700px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;

}

body::-webkit-scrollbar-track {
    @apply bg-bg-100 dark:-bg--dark-bg-100;
    
}

body::-webkit-scrollbar-thumb {
    @apply -bg--dark-bg-100 dark:bg-bg-100;
    

}
#modal::-webkit-scrollbar{
    width: 0;
}
h1 {
    font-family: 'Poppins', sans-serif;
}